/* General */

* {
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif;
}

body {
  background-image: url('../img/sfondo.jpg');
  background-size: cover;
  height: 100vh;
  margin: 0 20%;
}

/* HEADER */

hr {
  border: none;
  background-color: white;
  height: 3px;;
}

#logo {
  vertical-align: middle;
}

#ricerca {
  width: 500px;
  height: 40px;
  background-color: rgba(217, 217, 217, 0.2);
  border-radius: 5px;
  border: none;
  padding-left: 5px;
}

#button {
  width: 80px;
  height: 40px;
  background-color: rgba(217, 217, 217, 0.2);
  border-radius: 5px;
  border: none;
}

.button {
  color: rgba(255, 255, 255, 0.2);
}

.barra-di-ricerca {
  width: 80%;
  margin-left: 10%;
}

/* MAIN */
/* Mini Menù */

.background {
  background-color: rgba(217, 217, 217, 0.2);
  padding: 3px;
  border-radius: 20px;
  margin-bottom: 3px;
}

.testo-num-pagine {
  margin-left: 80%;
  font-style: oblique;
  font-weight: bolder;
  color: rgba(217, 217, 217, 0.6);
}

.checkbox-mini-menù {
 border: none;
 border-radius: 2px;
 background-color: rgba(217, 217, 217, 0.2);
}

.refresh {
  width: 2%;
  vertical-align: sub;
}

/* Email */

#margin-testo-email {
  margin-left: 10%;
}

.checkbox-email {
  vertical-align: text-bottom

  ;
}

.white-simbol {
  color: white;
}

.testo-oggetto {
  font-weight: bolder;
}

.tre-puntini::after {
  content: '...';
}

.tre-puntini::before {
  content: '|';
}

/* FOOTER */

.background-footer {
  background-color: rgba(217, 217, 217, 0.2);
  padding: 3px;
  border-radius: 20px;
}

.footer-text-centre {
  text-align: center;
}

.bolder-text {
  font-style: oblique;
  font-weight: bolder;
}
