* {
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif;
}

body {
  background-image: url('../img/sfondo.jpg');
  background-size: cover;
  height: 100vh;
  margin: 0 20%;
}

/* Header */

hr {
  border: none;
  background-color: white;
  height: 3px;;
}

#logo {
  vertical-align: middle;
}

#ricerca {
  width: 500px;
  height: 40px;
  background-color: rgba(217, 217, 217, 0.2);
  border-radius: 5px;
  border: none;
  padding-left: 5px;
}

#button {
  width: 80px;
  height: 40px;
  background-color: rgba(217, 217, 217, 0.2);
  border-radius: 5px;
  border: none;
}

.button {
  color: rgba(255, 255, 255, 0.2);
}
.display-inline {
  display: inline;

}

.display-inline-block {
    display: inline-block;
    width: 70%;
}

.barra-di-ricerca {
  width: 80%;
  margin-left: 10%;
}
